body{
      margin: 0;
      background-color: #000;
      color: #fff;
}

.banner{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      position: relative;
}

.banner .content .title {
      font-family: 'Times New Roman', Times, serif;
      font-size: 6em;
}

.banner::before{
      content: '';
      position: absolute;
      inset: 0;
      background-image: url(bg.jpg);
      background-size: cover;
      background-position: center;
      z-index: -1;
      mask-image: url(iink.gif);
      mask-size: cover;
      mask-position: center;
}